@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700;900&display=swap");
@keyframes nav__bar {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.2);
  }
  95% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-reduced-motion) {
  *,
  *::before,
  *::after {
    transition: none !important;
    -o-transition: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
  }
}

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}

body {
  min-height: 100vh;
  min-width: 300px;
}

body.open_nav {
  height: 100vh;
  overflow: hidden;
}

section {
  padding: 6rem clamp(1rem, 5vw, 5rem);
  background: #eee;
}

section:nth-of-type(2n + 1) {
  background-color: #dcdcdc;
}

.section__title {
  font-size: 3rem;
  text-align: center;
  padding: 0 0 2rem;
}

h1 {
  font-family: "Dancing Script", cursive, "arial";
  line-height: 1;
}

h6 {
  font-size: 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
  opacity: 0.75;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

textarea.no__resize {
  resize: none;
}

.btn {
  font-size: 1.25rem;
  padding: 1rem 2rem;
  border: 1px solid #fff;
  border-radius: 100vh;
}

.btn--transparent {
  background: transparent;
}

.btn--long {
  padding: 1rem 4rem;
  font-size: 2rem;
  border: 3px solid #000;
}

.header {
  height: 80px;
  background: #999999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.header__brand {
  font-size: 4rem;
}

.header.open_nav .main__nav__list {
  display: flex;
}

.header.open_nav .toggle__main__nav .fa-bars {
  display: none;
}

.header.open_nav .toggle__main__nav .fa-times {
  display: block;
  padding: 0 1.75rem;
}

.main__nav__list {
  position: absolute;
  z-index: 9;
  top: 80px;
  left: 0;
  height: calc(100vh - 80px);
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 5rem 1.2rem;
  font-size: 1.5rem;
  padding: 6rem 0;
  background: rgba(153, 153, 153, 0.9);
  font-size: 2.5rem;
}

.main__nav__list__item {
  padding: 0 1rem;
  border-bottom: 3px solid transparent;
  /* &:last-of-type {
				border-bottom: 3px solid transparent;
			} */
}

.main__nav__list__item:hover, .main__nav__list__item.active {
  border-bottom: 3px solid #9e1515;
}

.main__nav__list__item > .btn {
  background: rgba(255, 255, 255, 0.75);
  border: 2px solid #9e1515;
}

.toggle__main__nav {
  background: transparent;
  border: none;
  font-size: 3.5rem;
}

.toggle__main__nav .fa-times {
  display: none;
}

.hero {
  height: calc(100vh - 80px);
  position: relative;
  background-image: url("../img/20211103DH1056.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.hero__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.75;
  background: rgba(220, 220, 220, 0.9);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  padding: 2rem;
}

.hero__text__title {
  font-size: 3rem;
  padding: 1rem 0;
}

.hero__text__subtitle {
  font-size: 2rem;
  padding: 1rem 0 2rem;
}

.hero__info {
  position: absolute;
  bottom: 2rem;
  display: none;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  margin: 4rem;
  opacity: 0.75;
  display: none;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  max-width: 1440px;
}

.hero__info__links {
  background: #dcdcdc;
  padding: 3rem 2rem;
  border: 2px solid #000;
}

.hero__info__links__title {
  font-size: 2.25rem;
  padding-bottom: 1.5rem;
  border-bottom: 4px solid #000;
}

.hero__info__links__info {
  padding: 1rem 0;
}

.portfolios {
  --portfolios-grid: 1;
  padding: 4rem 1rem;
}

.portfolios__title {
  font-size: 3rem;
  text-align: center;
  margin: 0 0 1rem;
}

.portfolios__desc {
  padding: 2rem;
  font-size: 1.5rem;
}

.portfolios__grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(var(--portfolios-grid), 1fr);
}

.portfolios a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolios__box {
  position: relative;
}

.portfolios__box img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.portfolios__box h3 {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: #fff;
}

.about__title {
  grid-column: 1 / 3;
}

.about__info {
  padding: 2rem 4rem;
  margin: 4rem auto;
  max-width: 750px;
  height: fit-content;
  text-align: center;
}

.about__img {
  width: 300px;
  margin: 4rem auto;
  display: block;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.about__page__title {
  font-size: 3rem;
  text-align: center;
  padding: 0 0 2rem;
}

.about__page__info {
  max-width: 750px;
  margin: 0 auto;
  padding: 2rem 4rem;
  text-align: center;
}

.about__page__grid {
  display: grid;
  grid-template-columns: minmax(0, 1fr) repeat(1, minmax(150px, 500px)) minmax(0, 1fr);
  padding-top: 5rem;
  gap: 2rem;
}

.about__page__grid__title {
  grid-column: 1 / 4;
  text-align: center;
  font-size: 2.5rem;
  padding: 2rem 0;
}

.about__page__grid > .about__page__griditem {
  grid-column: 2 / 3;
}

.about__page__griditem {
  border: 2px solid #000;
  padding: 2rem 2rem 4rem;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.about__page__griditem__title {
  font-size: 2.25rem;
  text-align: center;
  padding-bottom: 2rem;
}

.about__page__griditem__info {
  text-align: center;
}

.form__input {
  background-color: #fff;
  border: 2px solid #000;
  padding: 0.75rem;
  font-size: 1.25rem;
  width: 100%;
}

.form__group {
  position: relative;
  margin: 1rem;
}

.form__label {
  position: absolute;
  box-sizing: content-box;
  top: 1rem;
  left: 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  pointer-events: none;
  opacity: 0.75;
  z-index: 5;
  background: #fff;
  transition: all 250ms linear;
}

.form__input:required:valid + .form__label,
.form__group:focus-within .form__label {
  transform: translateY(-20px);
  padding: 0 0.5rem;
  padding-bottom: 0.05rem;
  opacity: 1;
}

.kontakt__form {
  max-width: 750px;
  width: 75vw;
  padding: 4rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: rgba(220, 220, 220, 0.5);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.footer {
  padding: 2.5rem 0;
  color: #fff;
  background: #111;
}

.footer__title {
  text-align: center;
  font-size: 2rem;
}

.footer__title::after {
  content: "";
  display: block;
  height: 3px;
  margin: 1rem 5rem 0;
  background: #9e1515;
}

.footer__social {
  font-size: 3em;
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  margin: 0.5em auto;
  width: fit-content;
}

.footer__links {
  padding: 0.5em 0 2em;
  text-align: center;
  opacity: 1;
}

.footer__arr {
  margin: 0.5em;
}

.footer__terms {
  margin: 0.5em;
}

.info {
  background: #999999;
  color: #000;
  padding: 2rem 2rem 4rem;
  text-align: center;
}

.info p {
  opacity: 1;
  font-size: 1.2rem;
}

.info a {
  text-decoration: underline;
}

@media screen and (min-width: 768px) and (min-height: 768px) {
  .hero__text {
    top: 25%;
  }
  .hero__info {
    display: grid;
  }
}

@media screen and (min-width: 1024px) {
  .main__nav__list {
    visibility: visible;
    display: flex;
    flex-direction: row;
    position: initial;
    padding: 0;
    height: fit-content;
  }
  .toggle__main__nav {
    display: none;
  }
  .about {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
  }
  .about__info {
    padding: 2rem 0 2rem 4rem;
    text-align: left;
  }
  .about__img {
    margin: 0 auto 0 8rem;
  }
}

.links__container > .header {
  justify-content: center;
  align-items: center;
  box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.25);
}

.links__container > .header .header__brand__link {
  text-align: center;
}

.links__section {
  padding: 8rem 2rem 8rem;
  max-height: calc(100vh - 80px);
}

.links__section__title {
  border-bottom: 3px solid #9e1515;
  padding: 0.5rem;
  text-align: center;
  max-width: 250px;
  margin: 1rem auto;
}

.links__ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  font-size: 2rem;
  padding-top: 2rem;
}

.links__ul a {
  padding: 1rem;
  width: 225px;
  text-align: center;
  border: 2px solid #9e1515;
  border-radius: 100vh;
}

.intro__frame {
  overflow: hidden;
  width: 90vw;
  margin: 0 auto;
  position: relative;
}

.intro__images {
  display: flex;
}

.intro__btns {
  position: absolute;
  bottom: 3vw;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6vw;
}

.intro__btn {
  width: 5vw;
  height: 5vw;
  background: transparent;
  border-radius: 100vh;
  border: 2px solid rgba(158, 21, 21, 0.9);
}

.intro__btn.active {
  background: #eee;
}

.albums__grid {
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
  justify-content: center;
  gap: 2rem;
}

.album {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem 1rem 2rem;
  text-align: center;
  background-color: rgba(153, 153, 153, 0.75);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
}

.album__title {
  padding-top: 1.5rem;
  font-size: 2.25rem;
}

.portfolio__grid {
  background: rgba(153, 153, 153, 0.2);
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.portfolio__grid::after {
  content: "";
  flex-grow: 999999999;
}

.portfolio__griditem {
  height: 300px;
  margin: 2.5px;
  flex-wrap: 1;
}

.portfolio__griditem img {
  height: 300px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
/*# sourceMappingURL=styles.css.map */