@import "./abstracts/variabels";
@import "./abstracts/mixins";
@import "./abstracts/keyframes";
@import "./abstracts/utility";
@import "./abstracts/reset";

@import "./components/buttons";
@import "./components/header";
@import "./components/hero";
@import "./components/portfolio";
@import "./components/about";
@import "./components/forms";
@import "./components/contact";
@import "./components/footer";
@import "./components/responsive";

@import "./pages/links";
@import "./pages/home";
@import "./pages/album";
@import "./pages/portfolio";
@import "./pages/vilkor";

.sammanstallning {
	h3 {
		grid-column: span 2;
	}
	h4 {
		font-size: 2em;
		@extend .mt-1;
		@extend .mb-1;
	}
	ul {
		@extend .disp-flexcolumnn;
		gap: 0.75em;
		font-size: 1.25em;
	}
}
