.links {
	&__container {
		& > .header {
			justify-content: center;
			align-items: center;
			box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.25);

			& .header__brand__link {
				text-align: center;
			}
		}
	}

	&__section {
		@extend .p-8;
		max-height: calc(100vh - 80px);

		&__title {
			border-bottom: 3px solid $clr-ac-darkred;
			@extend .p-1;
			text-align: center;
			max-width: 250px;
			@extend .my-1;
			@extend .mx-auto;
		}
	}

	&__ul {
		@extend .disp-flexcolumnn-center;
		gap: 1rem;
		font-size: 2rem;
		@extend .pt-2;

		a {
			@extend .p-1;
			width: 225px;
			text-align: center;
			border: 2px solid $clr-ac-darkred;
			border-radius: 100vh;
		}
	}
}
