.footer {
	padding: 2.5rem 0;
	color: $clr-light;
	background: $bg-dark;

	&__title {
		text-align: center;
		font-size: 2rem;

		&::after {
			content: "";
			display: block;
			height: 3px;
			@extend .mt-1;
			@extend .mr-6;
			@extend .ml-6;
			background: $clr-ac-darkred;
		}
	}

	&__social {
		font-size: 3em;
		display: flex;
		flex-direction: row;
		gap: 1.25rem;
		@extend .mx-auto;
		@extend .mt-1;
		@extend .mb-1;
		width: fit-content;
	}

	&__links {
		@extend .mt-1;
		@extend .mb-2;
		text-align: center;
		opacity: 1;
	}

	&__arr,
	&__terms {
		@extend .m-1;
	}
}

.info {
	background: $bg-gray;
	color: $clr-dark;
	@extend .pt-2;
	@extend .pb-4;
	@extend .pr-2;
	@extend .pl-2;
	text-align: center;

	p {
		opacity: 1;
	}

	a {
		text-decoration: underline;
	}
}
