.header {
	height: 80px;
	background: $bg-gray;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;

	&__brand {
		font-size: 4rem;
	}

	&.open_nav {
		.main__nav__list {
			display: flex;
		}

		.toggle__main__nav {
			.fa-bars {
				display: none;
			}

			.fa-times {
				display: block;
				padding: 0 1.75rem;
			}
		}
	}
}

.main__nav {
	&__list {
		position: absolute;
		z-index: 9;
		top: 80px;
		left: 0;
		height: calc(100vh - 80px);
		width: 100%;
		display: none;
		flex-direction: column;
		align-items: center;
		gap: 5rem 1.2rem;
		font-size: 1.5rem;
		padding: 6rem 0;
		background: rgba($bg-gray, 0.9);
		font-size: 2.5rem;

		&__item {
			padding: 0 1rem;
			border-bottom: 3px solid transparent;

			&:hover,
			&.active {
				border-bottom: 3px solid $clr-ac-darkred;
			}

			/* &:last-of-type {
				border-bottom: 3px solid transparent;
			} */

			& > .btn {
				background: rgba($clr-light, 0.75);
				border: 2px solid $clr-ac-darkred;
			}
		}
	}
}

.toggle__main__nav {
	background: transparent;
	border: none;
	font-size: 3.5rem;

	.fa-times {
		display: none;
	}
}
