.hero {
	height: calc(100vh - 80px);
	position: relative;
	background-image: url("../img/20211103DH1056.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;

	&__text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 0.75;
		background: rgba($bg-lightgray, 0.9);
		box-shadow: $box-shadow;
		@extend .p-2;

		&__title {
			font-size: 3rem;
			@extend .pt-1;
			@extend .pb-1;
		}

		&__subtitle {
			font-size: 2rem;
			padding: 1rem 0 2rem;
			@extend .pt-1;
			@extend .pb-2;
		}
	}

	&__info {
		position: absolute;
		bottom: 2rem;
		display: none;
		grid-template-columns: repeat(3, 1fr);
		gap: 4rem;
		@extend .m-4;
		opacity: 0.75;
		display: none;
		box-shadow: $box-shadow;
		max-width: 1440px;

		&__links {
			background: $bg-lightgray;
			@extend .p-4;
			border: 2px solid #000;

			&__title {
				font-size: 2.25rem;
				padding-bottom: 1.5rem;
				border-bottom: 4px solid #000;
			}

			&__info {
				@extend .pt-2;
				@extend .pb-2;
			}
		}
	}
}
