@media screen and (min-width: 768px) and (min-height: 768px) {
	.hero {
		&__text {
			top: 25%;
		}

		&__info {
			display: grid;
		}
	}
}

@media screen and (min-width: 768px) {
	.portfolio {
		&__grid {
			grid-template-columns: repeat(2, 1fr);
		}
		&__item {
			&:last-of-type {
				grid-column: span 2;
			}
		}
	}
}

@media screen and (min-width: 1024px) {
	.main__nav {
		&__list {
			visibility: visible;
			display: flex;
			flex-direction: row;
			position: initial;
			padding: 0;
			height: fit-content;
		}
	}
	.toggle__main__nav {
		display: none;
	}
	.about {
		display: grid;
		place-items: center;
		grid-template-columns: repeat(2, 1fr);

		&__info {
			padding: 2rem 0 2rem 4rem;
			text-align: left;
		}

		&__img {
			margin: 0 auto 0 8rem;
		}
	}
}
