$clr-light: #fff;
$clr-dark: #000;

$clr-ac-darkred: #9e1515;

$bg-dark: #111;
$bg-gray: #656565;
$bg-lightgray: #aaa9a9;
$bg-light: #eee;

$box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700;900&display=swap");
